#cabeçalho {
    width: 100%;
    height: 70px;
}

.h1 {
    font-size: 50px;
    text-align: center;
    color: #465358;
}

.container {
    text-align: center;
    border: 1px solid #FFF;
}

.botao_slide {
    color: #0e0000;
    border: 2px solid #1EACE4;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #1EACE4;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.botao_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #1EACE4;
}

#botao {
    text-align: center;

    border: 1px solid #FFF;
}

/*Evolução Brasil e mundo: (Index 2) */

p {

    text-align: justify;
    font-size: 35px;
    margin-right: 10%;
    margin-left: 10%;
}

#img_evolucao {
    height: 400px;
    /*Até aqui */
}

/*Index 3 */

#imagem3 {
    height: 580px;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

/*Index 4*/
#botao4 {
    margin-top: 40px;
}

/*ANOS 80: */
#cabeçalho_foto {
    width: 100%;
    height: 70px;
    margin-top: 80px;
}

/*Botao anos  80: */

#espaço_botao {
    margin-top: 110px;
}


/*Index10 = "Prosseguindo"...*/
#espaço_botao_texto {
    margin-top: 50px;
}


/*Index11 */
#espaço_botao_pg11 {
    margin-top: 25px;
}

/*index 12*/

#cabeçalho_foto_12 {
    width: 100%;
    height: 70px;
    margin-top: 3px;
}


/*index15  */
#cabecalho_integrantes {
    margin-top: 180px;
}

#integrantes {
    margin-top: 250px;
    font-size: 30px;
}